
<header>
  <h1>Admin Console</h1>
</header>
<br/>
<div class="row">
  <div class="col-md-6 col-md-offset-3 well">
<section>
  <div class="form-group">
  <section>
    <h2>
      <%= link_to "List Products Edit / Delete", products_path %>
    </h2>
  </section>
  </div>
  <br/>
    <div class="form-group">
  <section>
    <h2>
      <%= link_to "Add Product", new_products_path  %>
    </h2>
  </section>
    </div>
  <br/>
   
  <section>
    <h2>
      <%= link_to "Shopping Cart", cart_path %>
    </h2>
  </section>
   
</section>
</div>
</div>